.big-timer {
    height: 8;
    content-align: center middle;
    text-style: bold;
    color: white;
    background: #333;
    padding: 1 3;
    border: tall white;
    width: 100%;
    min-width: 20;
}

